In [77]:
# ORIGINAL
def prodStr (df):
    '''
    df: pandas dataframe that needs product string parsing.
    output: product string to text file (type:str)
    '''

    import pandas as pd
    import os
    
    # Delimiters for product string in order is: (1) ',' (2) ';'
    products = df.loc['Products'][0].strip()
    products = df.split(',')
    prostr = '\n'

    # Dictionary of categories for product string.
    dictProducts = {0: 'Category : ',
                    1: 'Product  : ',
                    2: 'Quantity : ',
                    3: 'Price    : ',
                    4: 'Events   : ',
                    5: 'eVars    : '}

    count = 0
    prodDict = []

    for i in products:
        # Add a new line to the string if it isn't the first item of the product.
        prostr = prostr + ('' if (i == 0) else '\n')
        item = i.split(';')

        countj = 0
        for j in item:
            # Map dictionary to product string components.
            prostr = prostr + ((dictProducts[countj]) if countj<=5 else '    ')
            prostr = prostr + j + '\n'
            prodDict.append(((dictProducts[countj]) if countj<=5 else '    ')+j)
            countj = countj + 1
        count = count + 1

    l = []
    d = {}
    
    # String to list of dictionaries
    for i in range(len(prodDict)):
        d[prodDict[i][0:9]] = prodDict[i][11:]
        if (i + 1) % 6 == 0:
            l.append(d)
            d = {}
            
    ps = pd.DataFrame(l)
    
    return ps

In [174]:
def prodStr (df):
    '''
    df: pandas dataframe that needs product string parsing.
    output: product string to text file (type:str)
    '''

    import pandas as pd
    import os
    
    # Delimiters for product string in order is: (1) ',' (2) ';'
    products = df.loc['Products'][0].strip()
    products = products.split(',')
    prostr = '\n'

    # Dictionary of categories for product string.
    dictProducts = {0: 'Category : ',
                    1: 'Product  : ',
                    2: 'Quantity : ',
                    3: 'Price    : ',
                    4: 'Events   : ',
                    5: 'eVars    : '}

    prodDict = []

    for count,i in enumerate(products):
        # Add a new line to the string if it isn't the first item of the product.
        item = i.split(';')
        #print (item)
        for countj,j in enumerate(item):
            if (countj % 4 == 0 or countj % 5 == 0) and countj != 0 and j != '':
                
                j = j.split('|')
                for e in j:
                    if countj % 4 == 0:
                        prodDict.append(e[0:7] + '  : ' + e[8:])
                    else:
                        prodDict.append(e[0:6] + '   : ' + e[7:])
            else:
                # Map dictionary to product string components.
                prodDict.append(((dictProducts[countj]) if countj<=5 else '    ')+j)

    l = []
    d = {}
    
    print(prodDict)
    
    # String to list of dictionaries
    for i in range(len(prodDict)):
        d[prodDict[i][0:9]] = prodDict[i][11:]
        if i == (len(prodDict)-1):
            l.append(d)
            d = {}
        elif ('Category' in prodDict[i+1]):
            l.append(d)
            d = {}
            
    ps = pd.DataFrame(l)
    ps.set_index('Category ')
    
    return ps.transpose()

In [175]:
prod = 'internetService;14_internet_300_bluecurve;1;150.00;event39=182|event40=182|event42=0|event43=32|event51=1|event41=150.00;eVar28=14_internet_300_bluecurve|eVar49=internetService|eVar48=internet 300 bluecurve|eVar39=acquisition|eVar26=2YVP|eVar47=24,tvService;14_bluesky_medium_tv;1;;event51=1;eVar28=14_bluesky_medium_tv|eVar49=tvService|eVar48=bluesky medium tv|eVar39=acquisition|eVar26=2YVP,hardware;14_additional_channels;1;;;eVar28=14_additional_channels|eVar49=hardware|eVar48=additional channels|eVar39=acquisition|eVar26=2YVP,Promo;14_0_online_credit;1;;event45=0;eVar28=14_0_online_credit|eVar49=Promo|eVar48=0 online credit|eVar39=acquisition|eVar68=PromoPricing,hardware;14_bluecurve_home_xb_6;1;;;eVar28=14_bluecurve_home_xb_6|eVar49=hardware|eVar48=bluecurve home xb 6|eVar39=acquisition|eVar26=2YVP'

In [176]:
ps = prodStr(prod)

['Category : internetService', 'Product  : 14_internet_300_bluecurve', 'Quantity : 1', 'Price    : 150.00', 'event39  : 182', 'event40  : 182', 'event42  : 0', 'event43  : 32', 'event51  : 1', 'event41  : 150.00', 'eVar28   : 14_internet_300_bluecurve', 'eVar49   : internetService', 'eVar48   : internet 300 bluecurve', 'eVar39   : acquisition', 'eVar26   : 2YVP', 'eVar47   : 24', 'Category : tvService', 'Product  : 14_bluesky_medium_tv', 'Quantity : 1', 'Price    : ', 'event51  : 1', 'eVar28   : 14_bluesky_medium_tv', 'eVar49   : tvService', 'eVar48   : bluesky medium tv', 'eVar39   : acquisition', 'eVar26   : 2YVP', 'Category : hardware', 'Product  : 14_additional_channels', 'Quantity : 1', 'Price    : ', 'Events   : ', 'eVar28   : 14_additional_channels', 'eVar49   : hardware', 'eVar48   : additional channels', 'eVar39   : acquisition', 'eVar26   : 2YVP', 'Category : Promo', 'Product  : 14_0_online_credit', 'Quantity : 1', 'Price    : ', 'event45  : 0', 'eVar28   : 14_0_online_credit', 'eVar49   : Promo', 'eVar48   : 0 online credit', 'eVar39   : acquisition', 'eVar68   : PromoPricing', 'Category : hardware', 'Product  : 14_bluecurve_home_xb_6', 'Quantity : 1', 'Price    : ', 'Events   : ', 'eVar28   : 14_bluecurve_home_xb_6', 'eVar49   : hardware', 'eVar48   : bluecurve home xb 6', 'eVar39   : acquisition', 'eVar26   : 2YVP']

In [178]:
ps.set_index('Category ')

,Events,Price,Product,Quantity,eVar26,eVar28,eVar39,eVar47,eVar48,eVar49,eVar68,event39,event40,event41,event42,event43,event45,event51
Category,,,,,,,,,,,,,,,,,,
internetService,NaN,150.00,14_internet_300_bluecurve,1,2YVP,14_internet_300_bluecurve,acquisition,24,internet 300 bluecurve,internetService,NaN,182,182,150.00,0,32,NaN,1
tvService,NaN,,14_bluesky_medium_tv,1,2YVP,14_bluesky_medium_tv,acquisition,NaN,bluesky medium tv,tvService,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
hardware,,,14_additional_channels,1,2YVP,14_additional_channels,acquisition,NaN,additional channels,hardware,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Promo,NaN,,14_0_online_credit,1,NaN,14_0_online_credit,acquisition,NaN,0 online credit,Promo,PromoPricing,NaN,NaN,NaN,NaN,NaN,0,NaN
hardware,,,14_bluecurve_home_xb_6,1,2YVP,14_bluecurve_home_xb_6,acquisition,NaN,bluecurve home xb 6,hardware,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [179]:
ps2 = ps.transpose()

In [180]:
ps2

,0,1,2,3,4
Category,internetService,tvService,hardware,Promo,hardware
Events,NaN,NaN,,NaN,
Price,150.00,,,,
Product,14_internet_300_bluecurve,14_bluesky_medium_tv,14_additional_channels,14_0_online_credit,14_bluecurve_home_xb_6
Quantity,1,1,1,1,1
eVar26,2YVP,2YVP,2YVP,NaN,2YVP
eVar28,14_internet_300_bluecurve,14_bluesky_medium_tv,14_additional_channels,14_0_online_credit,14_bluecurve_home_xb_6
eVar39,acquisition,acquisition,acquisition,acquisition,acquisition
eVar47,24,NaN,NaN,NaN,NaN
eVar48,internet 300 bluecurve,bluesky medium tv,additional channels,0 online credit,bluecurve home xb 6
eVar49,internetService,tvService,hardware,Promo,hardware
eVar68,NaN,NaN,NaN,PromoPricing,NaN
event39,182,NaN,NaN,NaN,NaN
event40,182,NaN,NaN,NaN,NaN
event41,150.00,NaN,NaN,NaN,NaN
event42,0,NaN,NaN,NaN,NaN
event43,32,NaN,NaN,NaN,NaN
event45,NaN,NaN,NaN,0,NaN
event51,1,1,NaN,NaN,NaN